.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-image: url("https://vignette.wikia.nocookie.net/amazingspiderman/images/6/67/Marvel-characters.jpg/revision/latest/scale-to-width-down/640?cb=20130717132945");
  height: 150px;
  padding: 20px;
  background-size: auto;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
#navBar{
  list-style: none;
  display: flex;
  justify-content: space-around;
}

/********************* Home ***************************/

#homeBody {
  display: flex;
}
/************ Characters */

#charList{
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.characterThumb {
  list-style: none;
  width: 250px;
}

/********************* Character Search ***************************/

#searchedChars {
  list-style: none;
}


/***************** News article ***************/

#articles {
  list-style: none;
}
