.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}


/*********************  Header ***************************/

.App-header {
  display: flex;
  justify-content: center;
  height: 75vh;
  /* padding: 20px; */
  background-image: url("images/avengersAll.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-position:center;
  align-items: flex-end;
  /* position: absolute;
  width: 100%; */
}

#scroll {
  opacity: 0;
  border-right: 5px solid white;
  border-bottom: 5px solid white;
  width: 50px;
  height: 50px;
  position: relative;
  bottom: 20px;
  transform: rotate(45deg);
  animation-name: point;
  animation-duration: 1.5s;
  animation-iteration-count: 10;
}

@keyframes point {
  from { bottom: 100px;
         opacity: 0;
       }
  to { bottom: 20px;
       opacity: 1;
      }
}


/********************* Nav Bar ***************************/
#navContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  position: fixed;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.82);
  color: white;
  transition-property: top;
  transition-duration: 1s;
}

#navBar{
  width: 50%;
  color: white;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0px;
  padding: 20px;
}

#navBar a {
  text-decoration: none;
}

#navBar li {
  color: white;
}

#navBar li:hover {
  color: red;
  background-color: green;
}

@keyframes drop-in {
  from { top: -100px;
       }
  to { top: 0px;
      }
}


/********************* Main ***************************/
main {
  margin-top: 20px;
}
/********************* Home ***************************/

#homeBody {
  display: flex;
}

#aboutSect {
  width: 180%;
}

.homeP {
  font-size: 1.5em;
}

    /***************** News article ***************/
#articlesContainer{
  height: 100vh;
  overflow:scroll;
  border-left: 2px solid black;
}

#articles {
  list-style: none;
  padding-left: 0px;
}

.article {
  height: 500px;
  width: 50vw;
  position: relative;
  display: flex;
  align-content: center;
  background-position: center;
  background-size:cover;
  border-bottom: 2px solid black;
  padding-bottom: 20px;
}

.articleLink {

}

.articleTitle {
  width: 100%;
  margin-top: 0px;
  margin-bottom: 0px;
  position: absolute;
  top: 20px;
  color: white;
  background-color: rgba(0, 0, 0, 0.82);
  padding: 5px;
}

.articleDesc {
  align-self: flex-end;
  position: relative;
  top: 50%;
  z-index: 2;
  bottom: 20px;
  color: white;
  background-color: rgba(0, 0, 0, 0.82);
}

/************ Characters */

#charList{
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.characterThumb {
  list-style: none;
  width: 250px;
}

/********************* Character Search ***************************/

#searchedChars {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

/*****************footer ***************/

footer {
  background-color: red;
  height: 100px;
}
