.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}


/*********************  Header ***************************/

.App-header {
  display: flex;
  justify-content: center;
  background-image: url("images/avengersAll.jpg");
  height: 70vh;
  padding: 20px;
  background-size: cover;
  background-position: center;
  align-items: flex-end;
}

#scroll {
  border-right: 5px solid white;
  border-bottom: 5px solid white;
  width: 50px;
  height: 50px;
  position: relative;
  bottom: 20px;
  transform: rotate(45deg)
}


@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

/********************* Nav Bar ***************************/
#navContainer {
  background-color: black;
  color: white;
}

#navBar{
  color: white;
  list-style: none;
  display: flex;
  justify-content: space-around;
  margin-top: 0px;
  padding: 20px;
}

#navBar a {
  text-decoration: none;
}

#navBar li {
  color: white;
}

#navBar li:hover {
  color: red;
}

/********************* Home ***************************/

#homeBody {
  display: flex;
}
/************ Characters */

#charList{
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.characterThumb {
  list-style: none;
  width: 250px;
}

/********************* Character Search ***************************/

#searchedChars {
  list-style: none;
}


/***************** News article ***************/

#articles {
  list-style: none;
}

/*****************footer ***************/

footer {
  background-color: red;
  height: 100px;
}
